@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: "Work Sans", sans-serif;
  --displayFont: "JetBrains Mono", monospace;
  --black: #000;
  --white: #fff;
  --purple: #4555DE;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #1a1a1a;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: #4554deab;
  border-radius: 10px;
}

body {
  background-color: var(--black);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */
h1 {
  font-family: var(--displayFont);
  color: var(--purple);
}

h1#title-header {
  font-size: 3.5em;
  margin-top: 90px;
  text-shadow: 0px 0px 40px #4555DE,
               0px 0px 80px #4555DE,
               0px 0px 160px #4555DE;
}

p {
  font-family: var(--font);
  color: var(--white);
}

a {
  text-decoration: none;
}

header {
  /* border: 3px dotted var(--purple); */
  height: 100vh;
  flex-direction: column;
  gap: 5px;
}

header > p {
  color: #ffffff44;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.2em;
  font-family: var(--displayFont);

}

#ball {
  border: 2px solid var(--purple);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-top: 100px;
  transition: .2s;
}

div#ball p {
  color: var(--purple);
  font-size: 1.5em;
  border-radius: 100%;
  padding: 15px 23px;
  transition: .2s;
}

div#ball:hover {
  background-color: #4555DE;
  cursor: pointer;
}

div#ball p:hover {
  color: var(--white);
  font-weight: normal;
}

/* SECTION */
section {
  min-height: 90vh;
  height: auto;
  /* border: 3px dotted var(--purple); */
}

.code {
  color: #ffffff4b;
  font-weight: lighter;
}

.div-code {
  width: 880px;
  justify-content: left;
}

span.destaque {
  color: var(--purple);
  font-size: 130%;
  font-weight: bold;
}

/* SECTION 1 */
section#sec1 > div {
  /* border: 3px dotted var(--purple); */
  flex-direction: column;
  max-width: 880px;
  gap: 50px;
}

div.card {
  display: flex;
  border-radius: 10px;
  width: 700px;
  height: 280px;
  box-shadow: 0px 0px 120px #4554de8c;
  background-color: #24242494;
}

#hectimg {
  height: 100%;
  border-radius: 10px 0 0 10px;
}

div.card > div.content {
  flex: 1; /* Ocupa todo o espaço restante */
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

div.content > p {
  font-size: 1.15em;
}

/* SECTION 2 */
section#sec2 > div {
  /* border: 3px dotted var(--purple); */
  margin: 100px 0px;
  flex-direction: column;
  max-width: 880px;
  gap: 50px;
}

div.flexbox {
  /* border: 3px dotted #4555DE; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding: 50px;
  gap: 50px;
}

div.flexbox > abbr > a > img {
  height: 120px;
  opacity: .2;
  transition: .2s;
}

div.flexbox > abbr > a > img:hover {
  opacity: 1;
  cursor: pointer;
}

/* SECTION 3 */
section#sec3 > div {
  margin: 100px 0px;
  flex-direction: column;
  max-width: 880px;
  gap: 40px;
}

div.flexbox > div.box {
  background-color: #1a1a1a;
  height: 160px;
  width: 160px;
  border-radius: 10px;
  padding: 20px;
  transition: .6s;
}

div.flexbox > div.box > p {
  text-align: center;
}

div.flexbox > div.box > p:hover {
  cursor: default;
}

div.flexbox > div.box:hover {
  border-radius: 100%;
  background-color: var(--purple);
  padding: 5px;
  font-size: 120%;
  box-shadow: 0px 0px 120px #4554dedb;
}

/* SECTION 4 */
section#sec4 > div {
  margin: 100px 0px;
  flex-direction: column;
  max-width: 880px;
  gap: 90px;
}

div.card-proj {
  box-shadow: 0px 0px 120px #4554de41;
  transition: .4s;
}

div.card-proj:hover {
  box-shadow: 0px 0px 120px #4554deea;
}

div.card-proj > div.content {
  gap: 10px;
  padding: 18px;
}

div.card-proj > div.content > p {
  font-size: 1em;
}

div.link-proj {
  display: flex;
  justify-content: space-around;
}

div.link-proj > a {
  background-color: #000;
  color: var(--white);
  font-family: var(--font);
  width: 45%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  transition: .2s;
}

div.link-proj > a:hover {
  background-color: var(--purple);
}

/* SECTION 5 */
div#secCont {
  background-color: var(--purple);
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
  height: 50vh;
}

div#secCont > div {
  flex-direction: column;
  max-width: 880px;
  gap: 50px;
  font-size: 1.5em;
  text-align: left;
}

div#secCont > div > h1 {
  text-shadow: 0px 0px 40px #4555DE,
               0px 0px 80px #4555DE,
               0px 0px 160px #4555DE;
}

div#secCont > div > ul > li {
  color: var(--white);
  font-family: var(--displayFont);
}

div#secCont > div > ul > li > a {
  color: #5F6EF4;
  text-decoration: underline;
}

/* FOOTER */
footer {
  width: 100%;
  height: 50px;
}

footer > h2 {
  color: var(--white);
  font-family: var(--font);
  font-weight: 200;
  font-size: .9em;
}


/* MOBILE */
@media (max-width: 900px){
  /* HEADER */
  h1#title-header {
    font-size: 2em;
  }

  header > p {
    font-size: 1em;
  }

  /* SECTION */

  .code {
    font-size: .7em;
  }

  .div-code {
    width: 250px;
    justify-content: left;
  }

  /* SECTION 1 */

  section#sec1 > div {
    gap: 15px;
  }

  div.card {
    width: 220px;
    height: auto;
    flex-direction: column;
  }

  div.card > div.content {
    padding: 23px;
    gap: 10px;
  }

  #hectimg {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  div.content > p {
    font-size: .7em;
    text-align: center;
  }

  /* SECTION 2 */

  div.flexbox {
    padding: 40px;
    justify-content: space-around;
  }
  div.flexbox > abbr > a > img {
    height: 80px;
    opacity: .7;
  }

  /* SECTION 4 */

  div.card-proj > div.content > p {
    font-size: .7em;
  }

  /* SECTION 5 */

  div#secCont > div {
    font-size: .7em;
  }
}